{{#each this}}
<li>
    <h1>
        <a href="">{{name}}</a>
    </h1>
    <div>
        <img src="{{flag}}" alt"" width="300">
    </div>
    <div>
        <div>Capital: {{capital}}</div>
        <div>Population: {{population}}</div>
        <div>Languages:
            <ul>
                <li>{{Languages}}</li>
            </ul>
        </div>
    </div>


</li>
{{/each}}{}